
BackgroundAPIRest/bin/*
BackgroundAPIRest/obj/*
Business.Main/obj/*
CoreAccesLayer/obj/*
PlumbingProps/obj/*
NUnitBusinessMain/obj/*
NUnitBusinessMain/bin/*
Business.Main/bin/*
CoreAccesLayer/bin/*
CoreAccesLayer/obj/*
Domain.Main/bin/*
Domain.Main/obj/*
NUnitBusinessMain/bin/*
NUnitBusinessMain/obj/*
NUnitBusinessMain/bin/*
.vs/*
BackgroundAPIRest/bin/*
*.log
PlumbingProps/obj/*
